* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b0f19;
    color: white;
}

/* HEADER */
header {
    background: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 7%;
    border-bottom: 1px solid #263044;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #00d9ff;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    color: #00d9ff;
}

/* HERO */
.hero {
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;

    background:
        linear-gradient(rgba(5, 10, 20, 0.75), rgba(5, 10, 20, 0.9)),
        url("https://images.unsplash.com/photo-1542751371-adc38448a05e?auto=format&fit=crop&w=1600&q=80");

    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 64px;
    color: #00d9ff;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    color: #d1d5db;
    margin-bottom: 25px;
}

.hero button {
    padding: 13px 25px;
    border: none;
    border-radius: 6px;
    background: #00d9ff;
    color: #061018;
    font-weight: bold;
    cursor: pointer;
}

.hero button:hover {
    background: white;
}

/* BERITA */
.news {
    padding: 50px 7%;
}

.news h2 {
    font-size: 30px;
    margin-bottom: 25px;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.news-card {
    background: #111827;
    border: 1px solid #263044;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.news-card:hover {
    transform: translateY(-5px);
    border-color: #00d9ff;
}

.news-image {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    color: #00d9ff;
    font-weight: bold;
}

.news-card h3 {
    font-size: 19px;
    padding: 18px 18px 8px;
}

.news-card p {
    color: #9ca3af;
    padding: 0 18px 20px;
    line-height: 1.5;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    background: #111827;
    color: #9ca3af;
    margin-top: 30px;
}

/* MOBILE */
@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .hero h1 {
        font-size: 45px;
    }

    .news-container {
        grid-template-columns: 1fr;
    }
}
